@CHARSET "UTF-8";

#about-section form {
	background-color: #F5F5F5;
}

#about-section legend {
	padding-left: 20px;
}

.hero-unit {
	background-color: #0088CC;
	padding-left: 20px;
	padding-right: 20px
}

.btn {
    background-color: #008ed2;
	background-image: -moz-linear-gradient(top, #0092d6, #0078bc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0092d6), to(#0078bc));
	background-image: -webkit-linear-gradient(top, #0092d6, #0078bc);
  	background-image: -o-linear-gradient(top, #0092d6, #0078bc);
	background-image: linear-gradient(to bottom, #0092d6, #0078bc);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0092d6', endColorstr='#ff0078bc', GradientType=0);
  	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	font-weight: bold;
}

.btn:hover, btn:focus, btn:active,
.btn.active, .btn.disabled, .btn[diabled] {
	background-color: #007ed2;
	background-image: -moz-linear-gradient(top, #0078CC, #0062c6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0078CC), to(#0062c6));
	background-image: -webkit-linear-gradient(top, #0078CC, #0062c6);
  	background-image: -o-linear-gradient(top, #0078CC, #0062c6);
	background-image: linear-gradient(to bottom, #0078CC, #0062c6);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0078CC', endColorstr='#ff0062c6', GradientType=0);
  	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	background-position: 0 0;
}

.navbar .divider-vertical {
    border-left: 1px solid #0088CC;
    border-right: 1px solid #008fcf;
    margin-left: 3px;
    margin-right: 3px;
}

h3 {
	color: #0088CC;
}

#services-section .hero-unit a {
	color: white;
}

.container-fluid {
	padding-bottom: 40px;
}

#about-section .hero-unit a {
	color: white;
}

#oca-footer {
	padding: 10px 0px 10px 0px;
	background-color: #f2f2f2;
	overflow: visible;
}

#share-us li {
	padding-left: 12px;
	line-height: 25px;
	margin-bottom: 5px;
}

#search-container {
	padding-bottom: 15px;
}

.panel {
	margin-right: 5px;
	padding-left: 0px;
	padding-right: 0px;
}

.panel-heading {
	padding-right: 5px;
	padding-left: 5px;
	min-height: 61px;
}

.panel-body {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}

@media screen and (min-width: 1px) and (max-width: 767px){
    #grid[data-columns]::before {
        content: '2 .col-xs-6';
    }
}
@media screen and (min-width:768px) and (max-width: 991px){
    #grid[data-columns]::before {
        content: '3 .col-sm-4';
    }
}
@media screen and (min-width:992px) and (max-width: 9999px){
    #grid[data-columns]::before {
        content: '4 .col-md-3';
    }
}

.sub-head {
	font-weight: 400;
}

.navbar .nav > li > a {
    padding: 10px 5px 10px;
}
